.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://playerhub.df.qq.com/playerhub/bda10ec3-d889-44ac-a8ad-d1c6360fc67d.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: calc(100% - 40px);
  min-height: calc(100vh - 60px - 95px - 40px);
  border-radius: 12px;
  box-sizing: border-box;
  margin: 20px auto;
}
.title {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: var(--su-gray-100);
}
